<h2>Foods <%= link_to "(+)", new_refriger_food_path %></h2>

<p> Foods: </p>

  <% @foods.each do |food| %>

    <p><strong>Name: </strong> <%= food.name %></p>
    <p><strong>Amount: </strong> <%= food.amount %></p>
    <p><strong>Buy: </strong> <%= food.first_date %></p>
    <p><strong>Expiration Date: </strong> <%= food.expiration_date %></p>
    <p><strong>Status: </strong> <%= food.status %></p>

  <% end %>
