<!DOCTYPE html>
<html>
  <head>
    <title>Myrefriger</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <div id="title"><h1> My Refriger </h1></div>
      
    <ul id="nav">
      <li><div id="post-nav"><%= link_to "Home", root_path %></div></li>
      <li><div id="post-nav"><%= link_to "My Refrigerator", refrigers_path %></div></li>
      <li><div id="post-nav"><%= link_to "Recipe", posts_path %></div></li>
    </ul>

    <%= yield %>

  </body>

</html>
